<!DOCTYPE html>
<html>
  <head>
    <title>Tree</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <script type="text/x-template" id="item-template">
      <div>
        <p
          :class="{bold: isFolder}"
          @click="toggle">
          {{depth}} : {{ model.name }}
          <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
        </p>
        <item
          v-show="open"
          v-if="isFolder"
          class="item"
          v-for="(model, index) in model.children"
          :key="index"
          :model="model"
          :depth="depth + 1"
          style="margin-left:30px">
        </item>
      </div>
    </script>

    <p>(You can double click on an item to turn it into a folder.)</p>

    <!-- the demo root element -->
    <div id="demo">
      <item
        class="item"
        :model="treeData"
        :depth=0>
      </item>
    </div>

    <script>
    // demo data
    var data = {
      name: 'My Tree',
      children: [
        { name: 'hello' },
        { name: 'wat' },
        {
          name: 'child folder',
          children: [
            {
              name: 'child folder',
              children: [
                { name: 'hello' },
                { name: 'wat' }
              ]
            },
            { name: 'hello' },
            { name: 'wat' },
            {
              name: 'child folder',
              children: [
                { name: 'hello' },
                { name: 'wat' }
              ]
            }
          ]
        }
      ]
    }

    // define the item component
    Vue.component('item', {
      template: '#item-template',
      props: {
        model: Object,
        depth: Number,
      },
      data: function () {
        return {
          open: false
        }
      },
      computed: {
        isFolder: function () {
          return this.model.children && 
            this.model.children.length
        }
      },
      methods: {
        toggle: function () {
          if (this.isFolder) {
            this.open = !this.open
          }
        }
      }
    })

    // boot up the demo
    var demo = new Vue({
      el: '#demo',
      data: {
        treeData: data
      }
    })
    </script>
  </body>
</html>